a { font-size: 14px; }

.container-bordered {
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3); 
    
	border: 1px solid #DADFE1;
	border-radius: 2px;
	padding: 20px;
	width: auto;
}